*{
    margin: 0;
    padding: 0;
}

.mobile.content{
    opacity: 0;
    width: 0;
    height: 0;
}

main #mobile-content .text-render{
    opacity: 0;
}

body{
    background: #c0cfeb;
    overflow-x: hidden;
    animation-name: force-lock;
    animation-duration: 4.5s;
    width: 1540px;
}

header{
    background: rgb(239,229,223);
    background: linear-gradient(180deg, rgba(239,229,223,1) 0%, rgba(192,207,235,1) 100%);
}

header .backdrop1{
    position: absolute;
    /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom-style: none;
    border-top-style: none;
    height: 240px;
    width: 200px;
    left: 300px;
    z-index: 3;
}

header .backdrop2{
    position: absolute;
    /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom-style: none;
    border-top-style: none;
    height: 240px;
    width: 200px;
    left: 1000px;
    z-index: 3;
}

header .header{
    display: grid;
    grid-template-columns: 850px 440px;
}

header #header .title{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 192px;
    color: #1a1a1a;
    animation-name: header-enter;
    animation-duration: 2s;
    position: relative;
    transition-timing-function: ease-out;
    width: 1000px;
    z-index: 2;
}

header #header .title2{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 192px;
    color: #1a1a1a;
    animation-name: header-enter2;
    animation-duration: 3s;
    position: relative;
    max-width: 440px;
    left: 84px;
    z-index: 2;
}

footer{
    position: fixed;

    height: 320px;
    width: 100%;
    top: 450px;
    z-index: -1;
    background: rgb(192,207,235);
    background: linear-gradient(180deg, rgba(192,207,235,1) 0%, rgba(255,201,252,1) 100%);
}

strong{
    font-size: 28px;

}

.filler{
    height: 20px;
    width: 10px;
}

.text{
    margin-left: 10px;
}

.div{
    margin-left: 20px;
    margin-top: 20px;
}

.div2{
    margin-top: 20px;
}

.divimg{
    border-radius: 50%;
    height: 551px;
    width: 551px;
    position: relative;
    top: -0.5px;
    z-index: 2;
}

main #mobile-content .divimg{
    width: 0;
    height: 0;
    opacity: 0;
}

main{
    position: relative;

}

main .loading{
    background-color: #fbfff1;
    width: 250px;
    height: 70px;
    position: fixed;
    left: 600px;
    top: 1200px;
    z-index: 3;

    border-radius: 50px;
    border-width: 12px;
    border-color: #1a1a1a;
    border-style: solid;

    animation-name: loading;
    animation-duration: 5.5s;
    opacity: 0;
}

main .loading-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1a1a1a;
    position: relative;
    top: 15px;
    left: 30px;
    font-size: 32px;
}

main .loading-text2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1a1a1a;
    position: relative;
    bottom: 24px;
    left: 170px;
    font-size: 32px;
    opacity: 0;
    
    animation-name: loading2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

main .nav{
    height: 125px;
    width: 900px;
    margin-left: 300px;

    position: sticky;
    top: 0;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-style: none;

    /*
    border-bottom-color: #ddc8bc;
    border-top-style: solid;
    border-top-color: #ebdacf;
    */
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-width: 4px;

    /*
    background-color: #dbc8bc;
    */

    z-index: 3;
    /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: grid;
    grid-template-columns: 125px auto;
}

main #nav .nav-content{
    display: grid;
    grid-template-columns: 25px 125px 112.5px 125px 112.5px 125px;
    padding-top: 20px;
}

main #nav .link{
    display: block;
    height: 75px;
    width: 125px;
    background: rgb(48,177,190);
    background: radial-gradient(circle, rgba(48,177,190,1) 0%, rgba(65,137,255,1) 100%);
    border-radius: 10px;
    cursor: pointer;

    border-width: 5px;
    border-top-color: rgb(119, 202, 209);
    border-bottom-style: solid;
    border-bottom-color: #3d7bdf;

    color:#1a1a1a ;
    text-decoration: none;
}


main #nav .backdrop-link{
    height: 25px;
    width: 70px;
    border-radius: 20px;

    position: relative;

    top: 26px;
    left: 31px;

    z-index: 2;

}

main #nav .link:hover:active{
    border-top-style: solid;
    border-bottom-style: none;
}

main #nav .link:hover{
    

    background: rgb(65,137,255);
    background: radial-gradient(circle, rgba(65,137,255,1) 0%, rgba(48,177,190,1) 100%);
}

main #nav .link-content{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
    position: relative;
    height: 49px;
    top: -5px;

    text-decoration: none;
}

main #main{
    margin-top: 40px;
    height: 2400px;
    position: relative;

}

main #main .content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1a1a1a;
    animation-name: header-enter3;
    animation-duration: 4s;
    position: relative;

    width: 1440px;
}

main #main .content-div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 20px;

    animation-name: header-enter3;
    animation-duration: 4s;
    position: relative;
    width: 1440px;
    height: 600px;

    display: grid;
    grid-template-columns: 500px auto;

}

main #main .text-render{
    height: auto;
    width: auto;
}

main #main .text-renderA{
    width: 630px;
    height: 280px;
}

main #main .divB{
    grid-template-columns: 700px auto;
}

main #main .div1A{
    left: 100px;
    display: grid;
    grid-template-columns: auto 520px;
}

main #main .div1B{
    left: 100px;
    display: grid;
    grid-template-columns: auto 720px;
}


main #content-div .left{
    width: 520px;
    height: 300px;

    display: grid;
    grid-template-columns: 450px auto;

    border-width: 25px;
    border-top-style: solid;
    border-bottom-style: solid;

    margin-top: 125px;
    
    background-color: #c0e0fa;
    border-color: #3c3744;
}

main #content-div2 .right{
    width: 540px;
    height: 300px;

    display: grid;
    grid-template-columns: 70px 410px;
    text-align: end;

    border-width: 25px;
    border-top-style: solid;
    border-bottom-style: solid;

    margin-top: 125px;
    
    background-color: #c0e0fa;
    border-color: #3c3744;
}

main #main .div1B-Correction{
    position: relative;
    width: 740px;

    grid-template-columns: 70px 610px;
}

main #content-div .leftB{
    width: 720px;
    grid-template-columns: 650px auto;
}


main #content-div .filler{
    width: 70px;
    height: 300.5px;
    background: #c0e0fa;
    z-index: 1;
}

main #content-div2 .filler{
    width: 70px;
    height: 300.5px;
    background: #c0e0fa;
    z-index: 1;
}

main #content-div .right {
    height: 550px;
    width: 550px;

    border-radius: 50%;
    border-width: 25px;
    border-style: solid;
    border-color: #3c3744;

    position: relative;
    left: -50px;

}

main #content-div2 .left {
    height: 550px;
    width: 550px;

    border-radius: 50%;
    border-width: 25px;
    border-style: solid;
    border-color: #3c3744;

    position: relative;
    left: 390px;

}


main #main .div1B-CorrectionB{ 
    position: relative;
    left: 190px;
}



/*
@keyframes header-enter{
    0% {right: 1000px;}
    45% {right: 500px;}
    55% {right: 600px;}
    100% {right: 0px;}
}

@keyframes header-enter2{
    0% {left: 1000px;}
    55% {left: 1000px;}
    100% {left: 84px;}
}

@keyframes header-enter3{
    0% {opacity: 0; top: 750px;}
    70% {opacity: 0; top: 750px;}
    80% {opacity: 0;}
    100% {opacity: 1; top: 0px;}
}

@keyframes force-lock{
    0% {overflow-y: hidden;}
    99% {overflow-y: hidden;}
    100% {overflow-y: auto;}
}

@keyframes loading{
    0% {top: 600px;}
    75% {top: 600px;}
    100% {top: 1200px}
}

@keyframes loading2{
    0% {opacity: 0;}
    50% {opacity: 0;}
    51% {opacity: 1;}
    100% {opacity: 1;}
}
*/


@media only screen and (max-width: 376px){

    /* Dit hoort te werken bij de iphone 6/7/8 
    (en als je het inspect element aanzet op die modus. Soms lijkt het niet te werken. 
    Waardoor dit komt weet ik persoonlijk niet.*/

    body{
        width: 375px;
    }

    main #main{
        height: 0;
        width: 0;
    }
    
    header .header{
        position: relative;
        top: 100px;
        width: 375px;

        grid-template-columns: 0;
    }

    header #header .title{
        font-family: 'Libre Baskerville', serif;
        font-weight: 400;
        font-size: 72px;
        color: #1a1a1a;
        animation-name: header-enter;
        animation-duration: 2s;
        position: relative;
        transition-timing-function: ease-out;
        width: auto;
        z-index: 2;
    }

    header #header .title2{
        font-family: 'Libre Baskerville', serif;
        font-weight: 400;
        font-size: 72px;
        color: #1a1a1a;
        animation-name: header-enter2;
        animation-duration: 3s;
        position: relative;
        max-width: auto;
        top: 1.2em;
        left: 5px;
        z-index: 2;
    }

    
    header .header{
        display: grid;
        grid-template-columns: 0px 0px;
    }

    
    footer{
        position: fixed;

        height: 320px;
        width: 375px;

        top: 350px;

        z-index: -1;
        background: rgb(192,207,235);
        background: linear-gradient(180deg, rgba(192,207,235,1) 0%, rgba(255,201,252,1) 100%);
    }
    
    main .nav{
        height: 100px;
        width: 375px;
        left: -300px;
    
        position: fixed;
        top: 0;
    
        border: 1px solid rgba(255, 255, 255, 0.3);

        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-top-style: none;
    
        /*
        border-bottom-color: #ddc8bc;
        border-top-style: solid;
        border-top-color: #ebdacf;
        */
        
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-width: 4px;
    
        /*
        background-color: #dbc8bc;
        */
    
        z-index: 3;
        /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    
        display: grid;
        grid-template-columns: 0px auto;
    }
    
    main #nav .nav-content{
        display: grid;
        grid-template-columns: 20px 75px 45px 75px 45px 75px;
        padding-top: 20px;
    }
    
    main #nav .link{
        display: block;
        height: 50px;
        width: 75px;
        background: rgb(48,177,190);
        background: radial-gradient(circle, rgba(48,177,190,1) 0%, rgba(65,137,255,1) 100%);
        border-radius: 10px;
        cursor: pointer;
    
        border-width: 5px;
        border-top-color: rgb(119, 202, 209);
        border-bottom-style: solid;
        border-bottom-color: #3d7bdf;
    
        color:#1a1a1a ;
        text-decoration: none;
    }
    
    main #nav .link-content{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align: center;
        padding-top: 6px;
        position: relative;
        height: 49px;
        top: -15px;
    
        text-decoration: none;
    }
    

    header .backdrop1{
        opacity: 0;
        width: 0;
        left: 0;
    }
    
    header .backdrop2{
        opacity: 0;
        width: 0;
        left: 0;
    }

    main #main .content{
        opacity: 0;
        width: 0;
    }

    main #main .content-div{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #1a1a1a;
        margin-top: 20px;
    
        animation-name: header-enter3;
        animation-duration: 4s;
        position: relative;
        width:0;
        height: 0;
    
        display: grid;
        grid-template-columns: 0;
    
    }
    
    main #main .text-render{
        height: auto;
        width: auto;
    }
    
    main #main .text-renderA{
        width: 0;
        height: 0;
    }
    
    main #main .divB{
        grid-template-columns: 0;
    }
    
    main #main .div1A{
        left: 0;
        display: grid;
        grid-template-columns: 0;
    }
    
    main #main .div1B{
        left: 0;
        display: grid;
        grid-template-columns: 0;
    }
    
    
    main #content-div .left{
        width:0;
        height: 0;
    
        display: grid;
        grid-template-columns: 0;
    
        border-width: 0;
        border-top-style: solid;
        border-bottom-style: solid;
    
        margin-top: 0;
        
        background-color: #c0e0fa;
        border-color: #3c3744;
    }
    
    main #content-div2 .right{
        width: 0;
        height: 0;
    
        display: grid;
        grid-template-columns: 0;
        text-align: end;
    
        border-width: 0;
        border-top-style: none;
        border-bottom-style: none;
    
        margin-top: 0;
        
        background-color: #c0e0fa;
        border-color: #3c3744;
    }
    
    main #main .div1B-Correction{
        width: 0;
        grid-template-columns: 0;
    }
    
    main #content-div .leftB{
        width: 0;
        grid-template-columns: 0;
    }
    
    
    main #content-div .filler{
        width: 0px;
        height: 0;
    }
    
    main #content-div2 .filler{
        width: 0px;
        height: 0;
    }
    
    main #content-div .right {
        height: 0px;
        width: 0px;
    
        border-radius: 0;
        border-width: 0;
        border-style: none;

        left: 0px;
    
    }
    
    main #content-div2 .left {
        height: 0px;
        width: 0px;
    
        border-radius: 0;
        border-width: 0;
        border-style: none;

        left: 0px;
    
    }
    
    
    main #main .div1B-CorrectionB{ 
        left: 0;
    }

    .back-anim{
        width: 0;
        opacity: 0;
    }

    .divimg{
        border-radius: 50%;
        height: 0px;
        width: 0px;
        position: relative;
        top: -0.5px;
        z-index: 2;
    }

    .p1{
        left: 0;

        width: 0;
        height: 0;
    }

    .p2{
        left: 0;

        width: 0;
        height: 0;
    }

    .p3{
        left: 0;

        width: 0;
        height: 0;
    }

    .p4{
        left: 0;

        width: 0;
        height: 0;
    }

    .p5{
        left: 0;

        width: 0;
        height: 0;
    }

    .p6{
        left: 0;

        width: 0;
        height: 0;
    }

    .p7{
        left: 0;

        width: 0;
        height: 0;
    }

    .p8{
        left: 0;

        width: 0;
        height: 0;
    }

    main .loading{
        background-color: #fbfff1;
        width: 0px;
        height: 0px;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 3;
    
        border-radius: 0px;
        border-width: 0px;
        border-color: #1a1a1a;
        border-style: solid;
    
        animation-name: loading;
        animation-duration: 5.5s;
        opacity: 0;
    }
    
    main .loading-text{

        top: 0px;
        left: 0px;
        font-size: 0px;
    }
    
    main .loading-text2{

        bottom: 0px;
        left: 0;
        font-size: 0;
        opacity: 0;
        
        animation-name: loading2;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .mobile-content{
        opacity: 1;
        position: relative;

        top: 150px;

        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #1a1a1a;
    }

    main #mobile-content .mobile-grid-align{
        display: grid;
        grid-template-rows: 240px 335px 255px 335px 255px 335px 255px 335px 150px;
    }
    

    main #mobile-content .divimg{
        width: 195px;
        height: 195px;
        opacity: 1;

        border-width: 15px;
        border-style: solid;

        position: relative;
        left: 20px;
        top: 5px;

        border-color: #3c3744;
        background-color: #3c3744;
    }

    main #mobile-content .divimg2{
        top: 20px;
        left: 120px;
        
    }

    main #mobile-content .divimg3{
        top: 20px;
        left: 70px;
        
    }

    main #mobile-content .text-render{

        border-width: 15px;
        border-top-style: solid;
        border-bottom-style: solid;
        padding-top: 10px;

        background-color: #c0e0fa;
        border-color: #3c3744;

        opacity: 1;
    }

    .text{
        padding-right: 5px;
    }
}

